{% extends "navbar.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3 container row align-items-center justify-content-center form-control">
            <label for="" class="form-label"><span style="color: #198754">{{field.label_tag}}</span></label>
            <div class="container\">{{field}}</div>
        </div>
           
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
   
{% endblock %}